.mg-b-5{
margin-button:5px
}

.mg-b-10{
    margin-button:5px
    }

    .mg-b-15{
        margin-button:5px
        }

        .mg-b-20{
            margin-button:5px
            }

            .mg-b-25{
                margin-button:5px
                }